<%= header %>
<h1>Blorgh install successful!</h1>
<h2>You expected more? Too bad!</h2>

<p>
  <strong>Now we really recommend you run <code>rake install:clean</code> to clean up all the installation files.</strong>
</p>

<p>
  <strong>You can <a href='/login'>login</a> with the following information</strong>
  <h3>Username: admin</h3>
  <h3>Password: <%= @password %></h3>
</p>

<p>
  After that, you're free to <a href='/posts'>continue</a>.
</p>
<%= footer %>