<%= header %>
<h1>Blorgh install failed!</h1>
<div id='error'>
  <h2>There was an error when trying to install Blorgh!</h2>
  <br>
  <%= @error %>
</div>

<h3>
  <a href='/install'>Go back and make things right</a> or read below for more information on what went wrong.
</h3>

<p>
  <strong>Exception:</strong> <%= @e.message.gsub("<", "&lt;").gsub(">", "&gt;") %><br>
  <strong>Stacktrace</strong>
  <%= backtrace(@e.backtrace) %>
</p>