body {
  font: 14pt "Baskerville";
  background: #CFEBFF;
}

body, textarea, input[type=text], input[type=password] {
  font: 14pt "Baskerville";
}

input[type=text], input[type=password], textarea {
  padding: 5px;
}

input[type=submit] {
}

a {
  color: black;
}

p {
  margin: 0;
  margin-top: 15px;
  margin-bottom: 15px;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  font-family: "Myriad Pro", "Lucida Grande";
}

thead tr td {
  font-weight: bold;
}

.flash {
  -moz-border-radius: 10px;
  padding: 10px;
  margin-bottom: 3px;
}

.flash#failure {
  background: #FFADA7;
}

.flash#success {
  background: #ADFFA7;
}

#content, #sidebar {
  -moz-border-radius: 17px;
  background: white;
  padding: 20px;
  border: 2px solid #ededed;
}

#content {
  float: left;
  width: 70%;
}

#sidebar {
  float: right;
  background: white;
  width: 17%;
}

#sidebar h3 {
  margin-top: 20px;
}

#comment_form {
  margin-top: 15px;
}

.comment {
  height:100px;
}

.comment .gravatar {
  float: left;
  padding-right: 15px;
}
