<table id='posts'>
  <thead>
    <tr>
      <td>Post</td>
      <td>Author</td>
      <td>Date</td>
    </tr>
  </thead>
  <tbody>
    <% for post in @posts %>
      <tr>
        <td><%= link_to post.title, edit_admin_post_path(post), :id => "edit_post_#{post.id}" %></td>
        <td><%= post.user %></td>
        <td><%= post.created_at("%Y/%m/%d") %></td>
      </tr>
    <% end %>
  </tbody>
</table>